<div class='main-nav sidenav'>
    <div class='navbar'>
        <div class='navbar-collapse collapse'>
            <ul class='nav nav-pills nav-stacked'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-scale'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-cloud'></span> Weather
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
